*.o
*.a
*.d
main
*.o.json
compile_commands.json
html
doxygen
result
build
/src/electionguard/random_source.h
.vs/
.vscode/
Debug/
Testing/
*/a.out
test_Debug/
tally-*
voting_results*

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

ElectionGuardConfig.cmake
*_build/